@import url('https://fonts.googleapis.com/css?family=Quicksand');

html{
    overflow: hidden;
}

body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

input,button{
    font-family: 'Quicksand', sans-serif;
}

$dark: #888;
$darker:#666;

.Editor{

    hr{
        height: 1px;
        border:0;
        background-color: $dark;
    }

    .Panel{
        background-color: $dark;
        padding:30px 3px 20px 3px;
        border: 1px solid $darker;
    }

    .LayersPanel{

        position: fixed;
        right: 10px;
        top:10px;
        bottom: 10px;
        width: 200px;
        text-align: center;

        .layer-item{
            display: block;
            border: 1px solid #ddd;
            padding:5px;
            background-color:#fff;
            text-align: center;
            margin: 0 0 5px 0;
            font-size: 14px;
            display: flex;
            user-select: none;

            &.is-selected{
                background-color: #ff6b6b;
            }

            .layer-item-name{
                margin: 0 10px 0 10px;
                text-align: left;
            }
        }

        div.layer-item{
            cursor: pointer;
        }
    }

    .EditionPanel{
        
        position: fixed;
        left: 10px;
        top:10px;
        bottom: 10px;
        overflow-y:auto;

        .tools{

            text-align: center;

            .tool{
                display: inline-block;
                width: 30px;
                margin:3px;
                text-align: center;

                &.is-selected{
                    background-color: #ff6b6b
                }
            }
        }

        .color-squares{
            height: 50px;
            width: 50px;
            border: $darker;
            display: inline-block;
        }

        .shadingColors{
            text-align: center;

            .shadingColorsItem{

                display: inline-block;
                height: 20px;
                width: 20px;

                &.is-selected{
                    border:1px solid #000;
                    
                    height: 18px;
                    width: 18px;
                }
            }
        }

        .favoriteColor{
            .favoriteColorItem{
                display: inline-block;
                height: 20px;
                width: 20px;
                margin:5px;
            }
        }
    }
        
    .editor-canvas{
        background-image: url('/transparentBG.png');
        background-size: 40px 40px;
    }

    .chrome-picker {
        margin: 10px 0 10px 0;
        box-shadow: none !important;
    }

    button{
        border:0;
        border-radius: 3px;
        padding:5px;
        width: 100%;
        margin:5px 0 5px 0;
        cursor: pointer;
        box-shadow: 0 2px 2px rgba(0,0,0,0.1)
    }

}
